# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# local config
/common/config/main-local.php
/common/config/params-local.php

# swap file
*.swp
backend/web/12311.mp4
backend/web/ErrorFiles/400.html
backend/web/ErrorFiles/401.html
backend/web/ErrorFiles/403.html
backend/web/ErrorFiles/404.html
backend/web/ErrorFiles/500.html
backend/web/ErrorFiles/502.html
backend/web/ErrorFiles/504.html
backend/web/u.php
vendor/
frontend/web/Chart.js-master/samples/line-stacked-area.html
frontend/web/Chart.js-master/samples/line-x-axis-filter.html
frontend/web/Chart.js-master/samples/line.html
frontend/web/Chart.js-master/samples/pie-customTooltips.html
frontend/web/Chart.js-master/samples/pie.html
frontend/web/Chart.js-master/samples/polar-area.html
frontend/web/Chart.js-master/samples/radar-skip-points.html
frontend/web/Chart.js-master/samples/radar.html
frontend/web/Chart.js-master/samples/scatter-logX.html
frontend/web/Chart.js-master/samples/scatter-multi-axis.html
frontend/web/Chart.js-master/samples/scatter.html
frontend/web/Chart.js-master/samples/timeScale/combo-time-scale.html
frontend/web/Chart.js-master/samples/timeScale/line-time-point-data.html
frontend/web/Chart.js-master/samples/timeScale/line-time-scale.html
frontend/web/Chart.js-master/samples/tooltip-hooks.html
frontend/web/Chart.js-master/src/chart.js
frontend/web/Chart.js-master/src/charts/Chart.Bar.js
frontend/web/Chart.js-master/src/charts/Chart.Bubble.js
frontend/web/Chart.js-master/src/charts/Chart.Doughnut.js
frontend/web/Chart.js-master/src/charts/Chart.Line.js
frontend/web/Chart.js-master/src/charts/Chart.PolarArea.js
frontend/web/Chart.js-master/src/charts/Chart.Radar.js
frontend/web/Chart.js-master/src/charts/Chart.Scatter.js
frontend/web/Chart.js-master/src/controllers/controller.bar.js
frontend/web/Chart.js-master/src/controllers/controller.bubble.js
frontend/web/Chart.js-master/src/controllers/controller.doughnut.js
frontend/web/Chart.js-master/src/controllers/controller.line.js
frontend/web/Chart.js-master/src/controllers/controller.polarArea.js
frontend/web/Chart.js-master/src/controllers/controller.radar.js
frontend/web/Chart.js-master/src/core/core.animation.js
frontend/web/Chart.js-master/src/core/core.controller.js
frontend/web/Chart.js-master/src/core/core.datasetController.js
frontend/web/Chart.js-master/src/core/core.element.js
frontend/web/Chart.js-master/src/core/core.helpers.js
frontend/web/Chart.js-master/src/core/core.js
frontend/web/Chart.js-master/src/core/core.layoutService.js
frontend/web/Chart.js-master/src/core/core.legend.js
frontend/web/Chart.js-master/src/core/core.plugin.js
frontend/web/Chart.js-master/src/core/core.scale.js
frontend/web/Chart.js-master/src/core/core.scaleService.js
frontend/web/Chart.js-master/src/core/core.title.js
frontend/web/Chart.js-master/src/core/core.tooltip.js
frontend/web/Chart.js-master/src/elements/element.arc.js
frontend/web/Chart.js-master/src/elements/element.line.js
frontend/web/Chart.js-master/src/elements/element.point.js
frontend/web/Chart.js-master/src/elements/element.rectangle.js
frontend/web/Chart.js-master/src/scales/scale.category.js
frontend/web/Chart.js-master/src/scales/scale.linear.js
frontend/web/Chart.js-master/src/scales/scale.linearbase.js
frontend/web/Chart.js-master/src/scales/scale.logarithmic.js
frontend/web/Chart.js-master/src/scales/scale.radialLinear.js
frontend/web/Chart.js-master/src/scales/scale.time.js
frontend/web/Chart.js-master/test/controller.bar.tests.js
frontend/web/Chart.js-master/test/controller.bubble.tests.js
frontend/web/Chart.js-master/test/controller.doughnut.tests.js
frontend/web/Chart.js-master/test/controller.line.tests.js
frontend/web/Chart.js-master/test/controller.polarArea.tests.js
frontend/web/Chart.js-master/test/controller.radar.tests.js
frontend/web/Chart.js-master/test/core.element.tests.js
frontend/web/Chart.js-master/test/core.helpers.tests.js
frontend/web/Chart.js-master/test/core.layoutService.tests.js
frontend/web/Chart.js-master/test/core.legend.tests.js
frontend/web/Chart.js-master/test/core.plugin.tests.js
frontend/web/Chart.js-master/test/core.scaleService.tests.js
frontend/web/Chart.js-master/test/core.title.tests.js
frontend/web/Chart.js-master/test/core.tooltip.tests.js
frontend/web/Chart.js-master/test/defaultConfig.tests.js
frontend/web/Chart.js-master/test/element.arc.tests.js
frontend/web/Chart.js-master/test/element.line.tests.js
frontend/web/Chart.js-master/test/element.point.tests.js
frontend/web/Chart.js-master/test/element.rectangle.tests.js
frontend/web/Chart.js-master/test/mockContext.js
frontend/web/Chart.js-master/test/scale.category.tests.js
frontend/web/Chart.js-master/test/scale.linear.tests.js
frontend/web/Chart.js-master/test/scale.logarithmic.tests.js
frontend/web/Chart.js-master/test/scale.radialLinear.tests.js
frontend/web/Chart.js-master/test/scale.time.tests.js
frontend/web/ErrorFiles/401.html
frontend/web/Chart.js-master/composer.json
frontend/web/Chart.js-master/config.jshintrc
frontend/web/Chart.js-master/dist/Chart.bundle.js
frontend/web/Chart.js-master/samples/AnimationCallbacks/progress-bar.html
frontend/web/Chart.js-master/samples/bar-horizontal.html
frontend/web/Chart.js-master/samples/bar-multi-axis.html
frontend/web/ErrorFiles/400.html
frontend/web/ErrorFiles/403.html
frontend/web/ErrorFiles/404.html
frontend/web/ErrorFiles/500.html
frontend/web/ErrorFiles/502.html
frontend/web/ErrorFiles/504.html
frontend/web/Chart.js-master/LICENSE.md
frontend/web/Chart.js-master/README.md
frontend/web/Chart.js-master/bower.json
frontend/web/Chart.js-master/docs/00-Getting-Started.md
frontend/web/Chart.js-master/docs/01-Chart-Configuration.md
frontend/web/Chart.js-master/docs/02-Scales.md
frontend/web/Chart.js-master/docs/04-Bar-Chart.md
frontend/web/Chart.js-master/docs/05-Radar-Chart.md
frontend/web/Chart.js-master/docs/06-Polar-Area-Chart.md
frontend/web/Chart.js-master/docs/07-Pie-Doughnut-Chart.md
frontend/web/Chart.js-master/docs/08-Bubble-Chart.md
frontend/web/Chart.js-master/docs/09-Advanced.md
frontend/web/Chart.js-master/docs/10-Notes.md
frontend/web/Chart.js-master/karma.conf.ci.js
frontend/web/Chart.js-master/.eslintignore
frontend/web/Chart.js-master/.eslintrc
frontend/web/Chart.js-master/.gitignore
frontend/web/Chart.js-master/.travis.yml
frontend/web/Chart.js-master/CONTRIBUTING.md
frontend/web/Chart.js-master/dist/Chart.js
frontend/web/Chart.js-master/.codeclimate.yml
frontend/web/Chart.js-master/.editorconfig
frontend/web/Chart.js-master/dist/Chart.bundle.min.js
frontend/web/Chart.js-master/docs/03-Line-Chart.md
frontend/web/Chart.js-master/dist/Chart.min.js
frontend/web/Chart.js-master/karma.conf.js
frontend/web/Chart.js-master/samples/line-legend.html
frontend/web/Chart.js-master/samples/line-logarithmic.html
frontend/web/Chart.js-master/samples/line-multi-axis.html
frontend/web/Chart.js-master/samples/line-skip-points.html
frontend/web/Chart.js-master/samples/different-point-sizes.html
frontend/web/Chart.js-master/samples/doughnut.html
frontend/web/Chart.js-master/samples/line-customTooltips.html
frontend/web/Chart.js-master/samples/combo-bar-line.html
frontend/web/Chart.js-master/samples/data_label_combo-bar-line.html
frontend/web/Chart.js-master/samples/bar.html
frontend/web/Chart.js-master/samples/bubble.html
frontend/web/Chart.js-master/samples/bar-stacked.html
frontend/web/Chart.js-master/karma.coverage.conf.js
backend/weixin_pay/example/phpqrcode/cache/frame_25.png
backend/weixin_pay/example/phpqrcode/cache/frame_26.dat
backend/weixin_pay/example/phpqrcode/cache/frame_26.png
backend/weixin_pay/example/phpqrcode/cache/frame_27.dat
backend/weixin_pay/example/phpqrcode/cache/frame_27.png
backend/weixin_pay/example/phpqrcode/cache/frame_28.dat
backend/weixin_pay/example/phpqrcode/cache/frame_28.png
backend/weixin_pay/example/phpqrcode/cache/frame_29.dat
backend/weixin_pay/example/phpqrcode/cache/frame_29.png
backend/weixin_pay/example/phpqrcode/cache/frame_3.dat
backend/weixin_pay/example/phpqrcode/cache/frame_3.png
backend/weixin_pay/example/phpqrcode/cache/frame_30.dat
backend/weixin_pay/example/phpqrcode/cache/frame_30.png
backend/weixin_pay/example/phpqrcode/cache/frame_31.dat
backend/weixin_pay/example/phpqrcode/cache/frame_31.png
backend/weixin_pay/example/phpqrcode/cache/frame_32.dat
backend/weixin_pay/example/phpqrcode/cache/frame_32.png
backend/weixin_pay/example/phpqrcode/cache/frame_33.dat
backend/weixin_pay/example/phpqrcode/cache/frame_33.png
backend/weixin_pay/example/phpqrcode/cache/frame_34.dat
backend/weixin_pay/example/phpqrcode/cache/frame_34.png
backend/weixin_pay/example/phpqrcode/cache/frame_35.dat
backend/weixin_pay/example/phpqrcode/cache/frame_35.png
backend/weixin_pay/example/phpqrcode/cache/frame_36.dat
backend/weixin_pay/example/phpqrcode/cache/frame_36.png
backend/weixin_pay/example/phpqrcode/cache/frame_37.dat
backend/weixin_pay/example/phpqrcode/cache/frame_37.png
backend/weixin_pay/example/phpqrcode/cache/frame_38.dat
backend/weixin_pay/example/phpqrcode/cache/frame_38.png
backend/weixin_pay/example/phpqrcode/cache/frame_39.dat
backend/weixin_pay/example/phpqrcode/cache/frame_39.png
backend/weixin_pay/example/phpqrcode/cache/frame_4.dat
backend/weixin_pay/example/phpqrcode/cache/frame_4.png
backend/weixin_pay/example/phpqrcode/cache/frame_40.dat
backend/weixin_pay/example/phpqrcode/cache/frame_40.png
backend/weixin_pay/example/phpqrcode/cache/frame_5.dat
backend/weixin_pay/example/phpqrcode/cache/frame_5.png
backend/weixin_pay/example/phpqrcode/cache/frame_6.dat
backend/weixin_pay/example/phpqrcode/cache/frame_6.png
backend/weixin_pay/example/phpqrcode/cache/frame_7.dat
backend/weixin_pay/example/phpqrcode/cache/frame_7.png
backend/weixin_pay/example/phpqrcode/cache/frame_8.dat
backend/weixin_pay/example/phpqrcode/cache/frame_8.png
backend/weixin_pay/example/phpqrcode/cache/frame_9.dat
backend/weixin_pay/example/phpqrcode/cache/frame_9.png
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_101_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_105_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_109_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_113_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_117_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_121_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_125_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_129_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_133_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_137_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_141_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_145_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_149_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_153_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_157_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_161_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_165_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_169_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_173_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_177_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_21_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_25_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_29_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_33_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_37_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_41_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_45_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_49_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_53_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_57_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_61_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_65_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_69_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_73_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_77_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_81_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_85_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_89_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_93_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_0/mask_97_0.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_101_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_105_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_109_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_113_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_117_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_121_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_125_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_129_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_133_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_137_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_141_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_145_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_149_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_153_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_157_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_161_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_165_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_169_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_173_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_177_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_21_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_25_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_29_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_33_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_37_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_41_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_45_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_49_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_53_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_57_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_61_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_65_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_69_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_73_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_77_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_81_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_85_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_89_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_93_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_1/mask_97_1.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_101_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_105_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_109_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_113_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_117_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_121_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_125_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_129_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_133_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_137_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_141_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_145_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_149_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_153_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_157_2.dat
backend/weixin_pay/example/phpqrcode/cache/frame_19.png
backend/weixin_pay/example/phpqrcode/cache/frame_2.dat
backend/weixin_pay/example/phpqrcode/cache/frame_2.png
backend/weixin_pay/example/phpqrcode/cache/frame_20.dat
backend/weixin_pay/example/phpqrcode/cache/frame_20.png
backend/weixin_pay/example/phpqrcode/cache/frame_21.dat
backend/weixin_pay/example/phpqrcode/cache/frame_21.png
backend/weixin_pay/example/phpqrcode/cache/frame_22.dat
backend/weixin_pay/example/phpqrcode/cache/frame_22.png
backend/weixin_pay/example/phpqrcode/cache/frame_23.dat
backend/weixin_pay/example/phpqrcode/cache/frame_23.png
backend/weixin_pay/example/phpqrcode/cache/frame_24.dat
backend/weixin_pay/example/phpqrcode/cache/frame_24.png
backend/weixin_pay/example/phpqrcode/cache/frame_25.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_161_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_165_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_169_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_173_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_177_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_21_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_25_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_29_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_33_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_37_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_41_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_45_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_49_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_53_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_57_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_61_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_65_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_93_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_2/mask_97_2.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_101_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_105_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_109_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_113_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_117_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_121_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_125_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_129_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_133_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_137_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_141_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_145_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_149_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_153_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_157_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_161_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_165_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_169_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_173_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_177_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_21_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_3/mask_25_3.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_153_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_157_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_161_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_165_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_169_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_173_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_177_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_21_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_25_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_29_4.dat
backend/weixin_pay/example/phpqrcode/cache/mask_4/mask_33_4.dat
backend/weixin_pay/